# Thu muc chua cau hinh moi truong va khoa bi mat (Tuyet doi khong day len)
.env
.env.local
.env.development
.env.production

# Thu muc rac cua Frontend (Dung luong lon, tu sinh ra khi chay)
web_frontend/node_modules/
web_frontend/.next/

# Thu muc rac cua Smart Contract (Tu sinh ra khi bien dich Move)
move_contract/document_vault/build/

# File log va rac he dieu hanh
npm-debug.log*
.DS_Store
Thumbs.db